:root{
  --accent-color: #bbdb91;
  --secondary-color: #5a0058;
  --dark-color: #380436;
}

body{
  font-family: 'Roboto', sans-serif;
}

*{
  box-sizing: border-box;
}

code{
  font-size: 85%;
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
} 

p{
  margin-bottom: 16px;
  margin-top: 0;
  line-height: 1.5;
}

li{
  line-height: 1.5;
}

a{
  color: #e56a2f;
}

img{
  max-width: 100%;
}